# TeX files
*.aux
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
*.out

.ipynb_checkpoints
bin/
etc/
include/
lib/
lib64
share/
pip-selfcheck.json
pyvenv.cfg

# X-vectors for plotting t-SNE
xvectors/

.~lock*
